/* Portrait */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
    {

}

/** element based styles **/

h1 {
    margin: 0;
}

header h1 {
    color: #ffa45c;
}

body {
    background: #fff4e3;
    color: #4d4d4a;
    border-radius: 10%;
    font-size: 1.25em;

    /* reset browser's default margin */
    margin: 0;
}

section {
    margin: 2em;
}

section h1 {
    text-align: center;
    font-size: 3em;
    color: #3a3a30;
}

a {
    color: #5c82ff;
}

blockquote p::before {
    content: "“";
}

blockquote p::after {
    content: "”";
}

blockquote footer::before {
    content: "— "
}

blockquote footer {
    text-align: right;
    margin-right: 2em;
}

/** Class based styles **/

.logo {
    background: #3d3d3a;
    font-size: 1.5em;
    text-align: center;

    /* Modern Georgia-based serif stack */
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif",
    Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia,
    serif;
}

.round {
    border-radius: 50%;
}

.images {
    display: flex;
    justify-content: space-evenly;

    margin-top: 2em;
    margin-bottom: .5em;
}

/** Testimonials **/

.testimonials {
    text-align: center;
}

.testimonials p {
    font-style: italic;
    font-size: 2em;
    text-indent: 2em;
    border-left-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    padding-left: 1em;
    text-align: left;
}

.testimonials span.author {
    font-style: normal;
}


/** Gallery **/

.gallery {
    text-align: center;
}

.gallery ul {
    margin: 0;
    padding: 0;
}

.gallery li {
    list-style-type: none;
    margin: 0;
    padding: .5em;
    display: block;
}

.gallery img {
    margin: 0;
    padding: 0;
}