/* Portrait */
@media only screen
  and (min-width: 375px)
  and (max-width: 812px)
    {
        section.content {
            width: 80%;
        }
        .testimonials blockquote q {
            font-size: 1em;
        }
}

@media only screen
  and (min-width: 812px)
  and (max-width: 1200px)
    {
        section.content {
            width: 75%;
        }
        .testimonials blockquote q {
            font-size: 1.5em;
        }
}

@media only screen
  and (min-width: 1200px)
    {
        section.content {
            width: 50%;
        }
}

/** element based styles **/

h1 {
    margin: 0;
    letter-spacing: 0.02em;
    font-family: Georgia, serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: 600;
    color: #3a3a30;
}

body {
    background: #fff4e3;
    color: #4d4d4a;
    border-radius: 10%;
    font-size: 1.25em;

    /* reset browser's default margin */
    margin: 0;
    font-family: Helvetica neue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}

a {
    color: #5c82ff;
}

blockquote q::before {
    content: open-quote;
}

blockquote q::after {
    content: close-quote;
}

blockquote footer::before {
    content: "— "
}

blockquote footer {
    text-align: right;
    margin-right: 2em;
}

q {
    display: block;
}

p {
    line-height: 1.25em;
}

footer.contact {
    min-height: 5em;
    width: 100%;
}

/** Class based styles **/

.logo {
    /*
    background: #3d3d3a;
    font-size: 1.5em;
    text-align: right;
    */
    display: flex;
    width: 100%;
    align-items: flex-start;

    background-image: url("media/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.title {
    width: 100%;
    padding-left: 2em;
    background: #505050;
    background: rgba(50, 50, 50, .3);
    color: #1a1a10;

    text-align: left;
    text-transform: none;
    font-size: 2em;
    font-weight: 300;

}

.round {
    border-radius: 50%;
}

.images {
    display: flex;
    justify-content: space-around;

    margin-top: 2em;
    margin-bottom: .5em;
}

/** Testimonials **/

.testimonials {
    text-align: center;
}

.testimonials q {
    font-style: italic;
    font-size: 2em;
    text-indent: 2em;
    border-left-width: 1px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    padding-left: 1em;
    text-align: left;
}

/** Gallery **/

.gallery {
    text-align: center;
}

.gallery ul {
    margin: 0;
    padding: 0;
}

.gallery li {
    list-style-type: none;
    margin: 0;
    padding: .5em;
    display: block;
}

.gallery img {
    margin: 0;
    padding: 0;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #ffcdab;
}
.contact-title {
    font-size: 1em;
    color: #6d6d6a;
}
.contact p {
    margin: 0;
}
