/* Portrait */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
    {

}

h1 {
    margin: 0.25em;
}

body {
    background: #fff4e3;
    color: #5d5d5a;
    border-radius: 10%;
    font-size: 1.25em;
}

.logo {
    background: #5d5d5a;
    color: #ffa45c;
    font-size: 2em;
    text-align: center;
    font-family: Sans-Serif;
}

.round {
    border-radius: 50%;
}