body {
    background: #fff4e3;
    color: #4d4d4a;
    border-radius: 10%;
    font-size: 1.25em;

    /* reset browser's default margin */
    margin: 0;
}

section {
    margin: 2em;
}

ul {
    list-style: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.full-img-container{
    position: relative;
}

#full-img {
    max-height: 60vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}

#img-text {
    position: absolute;
    bottom: 0.2em;
    color:#fff4e3;
    /* margin: 0; */
    width: 100%;
    text-align: center;
}

#img-text > span {
    background: rgba(0,0,0, 0.75);
    padding: 0.5em;
}

.img-thumbnails {
    display: flex;
    overflow-x: auto;
}

/* .img-thumbnails::-webkit-scrollbar {
    display: none;
} */

.thumbnail {
    max-height: 20vh;
    opacity: 0.8;
}

.thumbnail:hover {
    opacity: 1;
}