@charset "utf-8";

$white-ter: hsla(0, 0, 96, 0.6);
$icon-dimensions-large: 5rem;

@import "~bulma/bulma";

.has-bg-image {
    background: url('../../images/shrimp-roll.jpg') center center;
    background-size: cover;
}